<!DOCTYPE html>
<html lang="en-us">


<!-- Mirrored from geeko.netlify.app/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 May 2022 13:23:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Resume Builder</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/public/css/style.css">
    
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/public/css/responsive.css">

</head>

<body class="light-version">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <div class="classy-nav-container dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                {{>navbar}}
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- Login popup form  -->

    {{>messages}}
    <script src="/public/js/utils.js"></script>
    
    
    {{{ body }}}
    <div>{{error}}</div>
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-5 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="/public/img/core-img/logo.png" alt="logo"> Resume Builder</a>
                                </div>
                                <p>Create professional resumes in various templates the easiest way. With step-by-step process, we don't require you to have any prior knowledge in resume creation. All your resumes are safe with us.</p>
                            </div>
                        </div>
                    </div>
                      
                    <div class="col-12 col-lg-3 col-md-6 ">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                                <h3>QUICK LINKS</h3>
                                <a href="#"><p>My Resumes</p></a>
                                <a href="#"><p>Sign Up</p></a>
                                <a href="#"><p>Login</p></a>
                                <a href="#"><p>Logout</p></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h4>CONTACT US</h4>
                                <p>Mailing Address: ***</p>
                                <p>Address: ***</p>
                                <p>+123 456 7890</p>
                                <p>support@resumebuilder**.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="/public/dependencies/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/public/dependencies/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/public/dependencies/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/public/dependencies/plugins.js"></script>
    <script src="/public/dependencies/particles.html"></script>
    <script src="/public/dependencies/app.html"></script>
    <!-- Parallax js -->
    <script src="/public/dependencies/dzsparallaxer.js"></script>
    <script src="/public/dependencies/form-script.js"></script>

    <script src="/public/dependencies/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="/public/dependencies/script.js"></script>


</body>


<!-- Mirrored from geeko.netlify.app/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 May 2022 13:28:38 GMT -->
</html>