<!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area demo2 flex align-items-center">

        <div class="container">
            <div class="row align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content v2">
                        <div class="promo-section">
                            <div class="integration-link light">
                                <span class="integration-icon">
                                    <img src="/public/img/svg/img-dollar.svg" width="24" height="24" alt="">
                                </span>
                                <span class="integration-text">Easy time creating your resume</span>
                            </div>
                        </div>
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s">Resume Builder with Amazing Templates</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">No more struggles creating your resume. With our resume builder, you can now automate your resume creation and produce high-quality professional resumes.</p>
                        <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                            <a href="/resume/new" class="btn dream-btn green-btn mr-3">Get Started</a>
                            <a href="/contact-us" class="btn dream-btn green-btn"> Talk to Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="banner-box">
                        <img src="/public/img/core-img/banner2.png" alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->
    
    <div class="clearfix"></div>

    <section class="demo-video feat section-padding-100 bub-left">
        <div class="container">
            
            <div class="row align-items-center">
                
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="services-block-four">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/public/img/icons/d1.png" alt="">
                            </div>
                            <h2><a href="#">Automated Resume Creation</a></h2>
                            <div class="text">All you need to do is enter in your key details and leave the rest to us</div>
                            
                        </div>
                    </div>
                    <div class="services-block-four">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/public/img/icons/d2.png" alt="">
                            </div>
                            <h3><a href="#">Professional Resumes</a></h3>
                            <div class="text">We understand that resumes are meant to be professional, and we deliver exactly that</div>
                            
                        </div>
                    </div>
                    <div class="services-block-four" style="margin-bottom:0">
                        <div class="inner-box">
                            <div class="icon-img-box">
                                <img src="/public/img/icons/d3.png" alt="">
                            </div>
                            <h3><a href="#">Multiple Templates</a></h3>
                            <div class="text">You won't have the same resume everyday. Pick any template you desire for a change in taste</div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="who-we-contant mt-s">
                        <div class="dream-dots">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h4>What makes us stand out?</h4>
                        <p>We believe that you have done you best and now you seek a resume to portray your effort in the most simple and satisfactory way. We are driven by the passion to bring out the best in you and your professional life.</p>
                        <p>Having studied several resumes and seen their qualification standards in the job market, we come up with a solution to just suit your resume needs. We have considered it all, and we are now offering all of it.</p>
                        <a class="btn dream-btn mt-30" href="templates.html">lets build your cv</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <div class="clearfix"></div>

    <!-- ##### Area start ##### -->
    <section class="container section-padding-0-100">
        <div class="subscribe">
            <div class="row align-items-center relative">
                <img src="/public/img/core-img/custom.png" alt="" class="custom">
                <div class="col-lg-5 col-lg-offset-3 col-md-9 col-xs-12">
                    <h2 class="bold mb-0">Are you in need of a custom template?</h2>
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12 text-center">
                    <a href="/contact-us">Talk to us now</a>
                </div>
                          
            </div>
        </div>  
    </section>
    <!-- ##### Area End ##### -->

      <!-- ##### Area start ##### -->
       {{#if user}}
               <section class="container section-padding-0-100">
        <div class="subscribe">
            <div class="row align-items-center relative">
                <div class="col-lg-5 col-lg-offset-3 col-md-9 col-xs-12">
                    <h2 class="bold mb-0">Social Media Links</h2>
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12 text-center">
                    <a href="#" class="fa fa-linkedin">{{user.linkedin}}</a>
                </div>
                          
            </div>
        </div>  
    </section>
                           
                            {{/if}}
   
    <!-- ##### Area End ##### -->


    <section class="demo section-padding-100 ring-bg">
        <div class="container">
            <div class="section-heading text-center">
                <div class="dream-dots justify-content-center">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="bold">Our Creative Templates</h2>
                <p>Professionally created high-quality resume templates ready for you <br>Take a look at them.</p>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="demo-item">
                        <a href="/resume/preview"><img src="/public/img/demos/demo-1.png" alt="demo" class="img-responsive"></a>
                        <div class="preview-btn-wrapper text-center">
                            <a href="/resume/preview" class="preview-demo">See template <i class="fa fa-long-arrow-right"></i></a>
                            <a href="/resume/new" class="preview-demo v2">Use template <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="demo-item">
                        <a href="#"><img src="/public/img/demos/cover-letter.webp" alt="demo" class="img-responsive"></a>
                        <div class="preview-btn-wrapper text-center">
                            <a href="#" class="preview-demo">See Template<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="demo-item">
                        <a href="#"><img src="/public/img/demos/demo-3.png" alt="demo" class="img-responsive"></a>
                        <div class="preview-btn-wrapper text-center">
                            <a href="#" class="preview-demo">See Template<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>

    <!-- ##### Our features Area Start ##### -->
    <section class="our_services_area section-padding-100-70" id="services">
        <div class="container">
            
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">Among others, we offer...</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Your resume is safe with us. We offer you an easy time creating your resume and safety for all your created resumes.</p>
            </div>
                

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="/public/img/icons/f1.png" alt="">
                        </div>
                        <h3>Professional Resumes Trusted by Many</h3>
                        <p>We offer templates that stand out and display your details in the most professional manner</p>
                        <div class="preview-btn-wrapper text-center">
                            <a href="#" class="preview-demo">Coming Soon<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="/public/img/icons/f2.png" alt="">
                        </div>
                        <h4>Latest Modern Design, Alway Up-To-Date</h4>
                        <p>We understand that the world is ever changing and we assure you that we are never left behind</p>
                        <div class="preview-btn-wrapper text-center">
                            <a href="#" class="preview-demo">Coming Soon<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="service_icon">
                            <img src="/public/img/icons/f3.png" alt="">
                        </div>
                        <h5>Step-by-step Automated Resume Creation</h5>
                        <p>No need for prior knowledge in resume creation. With us, we guide you all the way to the end.</p>
                        <div class="preview-btn-wrapper text-center">
                            <a href="#" class="preview-demo">Coming Soon<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Our features Area End ##### -->